<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KUHLSCHRANK" providerName="System.Data.SqlClient" connectionString="Server=XAVIERDELOFFRE\MSSQLSERVER2012;Database=KUHLSCHRANK;User Id=sa;Password=coucou;"/>
    <add name="RomanLocalDb" providerName="System.Data.SqlClient" connectionString="Data Source=etudes174-w8; Initial Catalog=Kuhlschrank; Integrated Security=true"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
        <behavior name="Services.ProductAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="UserBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="UserBehavior" name="DataCommunication.UserService.UserService">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding"
          contract="DataCommunication.UserService.IUserService" />
      </service>
      <service behaviorConfiguration="UserBehavior" name="DataCommunication.ProductService.ProductService">
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding"
          contract="DataCommunication.ProductService.IProductService" />
      </service>
    </services>
    <protocolMapping>
        <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Pour parcourir le répertoire racine de l'application Web lors du débogage, définissez la valeur ci-dessous sur true.
        Définissez-la sur false avant le déploiement pour ne pas divulguer d'informations du dossier de l'application Web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
</configuration>
