<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RomanLocalDb" providerName="System.Data.SqlClient" connectionString="Data Source=etudes174-w8; Initial Catalog=Kuhlschrank; Integrated Security = SSPI"/>
    <add name="LanDb" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.42; Initial Catalog=Kuhlschrank; User Id=kuhlschrank; Password=Jeqe7gjk2014"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
        <behavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="DataCommunication.UserService.UserService" behaviorConfiguration="">
        <endpoint address="" binding="webHttpBinding" contract="DataCommunication.UserService.IUserService" behaviorConfiguration="web" />
        <endpoint address="/win" binding="basicHttpBinding" contract="DataCommunication.UserService.IUserService" behaviorConfiguration="" />
      </service>
      <service name="DataCommunication.ProductService.ProductService" behaviorConfiguration="">
        <endpoint address="" binding="webHttpBinding" contract="DataCommunication.ProductService.IProductService" behaviorConfiguration="web" />
        <endpoint address="/win" binding="basicHttpBinding" contract="DataCommunication.ProductService.IProductService" behaviorConfiguration="" />
      </service>
      <service name="DataCommunication.DeviceService.DeviceService" behaviorConfiguration="">
        <endpoint address="" binding="webHttpBinding" contract="DataCommunication.DeviceService.IDeviceService" behaviorConfiguration="web" />
        <endpoint address="/win" binding="basicHttpBinding" contract="DataCommunication.DeviceService.IDeviceService" behaviorConfiguration="" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>