<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
        <behavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="DataCommunication.UserService.UserService" behaviorConfiguration="">
        <endpoint address="" binding="webHttpBinding" contract="DataCommunication.UserService.IUserService" behaviorConfiguration="web" />
        <endpoint address="/win" binding="basicHttpBinding" contract="DataCommunication.UserService.IUserService" behaviorConfiguration="" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>