<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IDeviceService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_ICategoryService" />
                <binding name="BasicHttpBinding_IUserProductService" />
                <binding name="BasicHttpBinding_IRecetteService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1966/Product.svc/win" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductService" contract="ProductService.IProductService"
                name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:1966/Device.svc/win" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDeviceService" contract="DeviceService.IDeviceService"
                name="BasicHttpBinding_IDeviceService" />
            <endpoint address="http://localhost:1966/User.svc/win" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:1966/Category.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICategoryService" contract="CategoryService.ICategoryService"
                name="BasicHttpBinding_ICategoryService" />
            <endpoint address="http://localhost:1966/UserProduct.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserProductService"
                contract="UserProductService.IUserProductService" name="BasicHttpBinding_IUserProductService" />
            <endpoint address="http://localhost:1966/Recette.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRecetteService" contract="RecetteService.IRecetteService"
                name="BasicHttpBinding_IRecetteService" />
        </client>
    </system.serviceModel>
</configuration>